@font-face {
  font-family: "Vazirmatn";
  src: url("/assets/fonts/Vazirmatn[wght].woff2") format("woff2");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@import "tailwindcss";
@plugin "daisyui";

@theme {
  --font-vazirmatn: "Vazirmatn", sans-serif;
}

@layer base {
  html,
  body {
    font-family: var(--font-vazirmatn);
  }
}
